* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ebffff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

header {
  background-color: #36b1bf;
  margin: auto -16px;
  padding: 16px 32px;
  border: 1px solid #037f8c;
  border-width: 0 0 1px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.CartAndNumber {
  display: flex;
  align-items: center;
}

.bungee-outline-regular {
  font-family: "Bungee Outline", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ebffff;
  font-size: 3rem;
}

.searchContainer {
  width: 400px;
  margin: auto;
  display: flex;
}

.searchInput {
  font-family: "Montserrat", sans-serif;
  background-color: #ebffff;
  color: black;
  width: 100%;
  height: 2rem;
  padding: 10px;
  border: 1px solid #037f8c;
  border-radius: 4px;
}

/* .searchButton {
  box-sizing: border-box;
  height: 2rem;
  background-color: #037f8c;
  color: #ebffff;
  border: 1px solid #037f8c;
  border-radius: 0 4px 4px 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

.exceptionIcon {
  font-size: 40px !important;
  position: relative;
}

.numberOfItems {
  border: 1px solid black;
  color: black;
  background-color: #fdd0d9;
  padding: 3px;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1rem;
  left: -1.4rem;
}

.footerLogo {
  font-size: 2rem;
  color: #037f8c;
}

.footerLink {
  text-decoration: none;
  font-weight: 600;
  color: #037f8c;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4rem auto;
  max-width: 90%;
}

.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4rem auto;
  max-width: 90%;
  min-height: calc(100vh - 4rem);
}

footer {
  text-align: center;
  bottom: 1rem;
  flex-shrink: 0;
  margin-top: auto;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container2 > .card2 {
  margin: auto;
  margin-top: -1rem;
}

.container2 > .card4 {
  margin: auto;
  margin-top: -1rem;
}

h4 {
  text-align: center;
  padding-bottom: 2.5rem;
}

.card {
  background-color: #fff;
  border: 1px solid #037f8c;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  width: 20rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.card2 {
  background-color: #fff;
  border: 1px solid #037f8c;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  width: 40rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.card3 {
  background-color: #fff;
  border: 1px solid #fdd0d9;
  border-radius: 8px;
  margin: auto;
  padding: 1rem;
  width: 38rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.card4 {
  background-color: #fff;
  border: 1px solid #037f8c;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  width: 40rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.title {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 0 2rem 0;
  margin: auto;
}

.priceElement2 {
  text-align: right;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price2 {
  font-weight: 600;
}

.priceTotal {
  text-align: right;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.titleAndPriceCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragraph {
  padding: 1rem 0;
}

button {
  font-family: "Montserrat", sans-serif;
  background-color: #36b1bf;
  padding: 0.5rem 1rem;
  font-size: medium;
  border: 1px solid #037f8c;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  align-self: flex-end;
}

.oneButtonLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.oneButton {
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.form {
  position: relative;
  padding: 20px 0;
}

.form input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #037f8c;
  text-align: center;
  width: 350px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  background-color: #ebffff;
  border: 1px solid #037f8c;
  border-radius: 4px;
  display: block;
}

textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #037f8c;
  text-align: center;
  width: 350px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  background-color: #ebffff;
  border: 1px solid #037f8c;
  border-radius: 4px;
  display: block;
  resize: vertical;
}

.form input::placeholder,
textarea::placeholder {
  color: #037f8c;
}

.link {
  text-decoration: none;
  color: #ebffff;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid #037f8c;
  border-radius: 4px;
}

.card2 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.productDescription {
  padding: 1rem 0;
}

.reviewDescription {
  font-style: italic;
}
